<h1>If I Fits I Ships</h1>
<form action="/output">
  <label for="height">Height of Package</label>
  <input type="text" name="height">
  <label for="width">Width of Package</label>
  <input type="text" name="width">
  <label for="length">Length of Package</label>
  <input type="text" name="length">
  <label for="weight">Weight of Package</label>
  <input type="text" name="weight">
  <label for="speed">Speed of Shipping</label>
  <input type="text" name="speed">
  <label for="distance">Distance of Shipping</label>
  <input type="text" name="distance">
  <button type="submit" name="submit">Submit</button>
</form>
